#navbar{
    display:flex;
    background-color:#FFDBAA ;
    color: #553100
}
#details{
    display: flex;
    background-color white;
    margin-bottom: 25px;
    text-align: center;
}
.pageDetails{
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin:3px
    border 3px solid black;
    height: 10emm;
    width: 10em;
    margin-left: 3em;
    margin-right: 3em;
}
/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
